* {
    font-family: 'Roboto', sans-serif;
}

.container .section-menu {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.container .menu {
    width: 80%;
    text-align: center;
}

.container .menu .menu-primary {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.container .menu .menu-primary .item {

    display: inline-flex;
    align-items: center;
}

.container .menu .menu-primary .item img {
    width: 25%;
}

.container .menu .menu-primary .item img.img-phone {
    width: 10%;
}

.container .menu-secundary {
    display: inline-flex;
    /* border: solid 1pt black; */
    width: 100%;
    margin-top: 2%;
    align-items: center;
}

.container .menu .menu-secundary .left {
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
}

.container .menu .menu-secundary .right {
    width: 30%;
    display: inline-flex;
    justify-content: end;
}

.container .menu .menu-secundary .right .btn-buy {
    background-color: transparent;
    border-color: rgb(134, 204, 29);
    border-radius: 15px;
    color: rgb(134, 204, 29);
    width: 35%;
    margin-right: 20px;

}

.container .menu .menu-secundary .right .btn-car-buy {
    background-color: transparent;
    border-color: rgb(134, 204, 29);
    border-radius: 20px;
    color: rgb(134, 204, 29);
}

.bold {
    font-weight: bold;
}

.section-promotions {

    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section-promotions .promotion-left {
    text-align: center;
    border: 2px solid #333;
    border-radius: 2%;
    background-color: #ffffff;
    border-color: #f1f1f1;
    width: 10%;
    box-shadow: 0px 0px 5px #616161;
    color: #112506;
    margin-top: 5%;
    margin-bottom: 50px;

}

.link-cards {

    color: rgb(32, 209, 9);
}

.cards-description {
    color: #b3b2b2;
}


.section-promotions .promotion-middle {
    width: 40%;
}

.section-promotions .promotion-right {
    width: 40%;
}

.section-promotions .promotion-middle .btn-promotion-middle {
    background-color: transparent;
    border-color: #46f446;
    font-weight: bold;
    padding: 1%;
    width: 30%;
    border-radius: 5px;
}

.ofer {

    font-size: x-large;
}

.section-promotions .promotion-middle .promotion-middle-description {

    font-weight: bold;
    font-size: x-small;
    padding-bottom: 3%;

}

.section-promotions .promotion-middle .card-middle {
    text-align: center;
    border: 2px solid #333;
    border-radius: 2%;
    background-color: #ffffff;
    border-color: #f1f1f1;
    box-shadow: 0px 0px 5px #616161;
    color: #112506;
    width: 60%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 7%;
}

.section-promotions .promotion-middle .card-middle .middle-description {
    display: inline-flex;
    align-items: center;
    padding-left: 2%;


}

.section-promotions .promotion-right {

    text-align: center;
}

.bonification {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bonus {
    margin-left: 50px;
}

.btn-bonus {

    border-color: #b3b2b2;
    border: none;
    border-radius: 5px;
    width: 60px;
    padding: 10px;

    margin: 10px;
}

.get-ofer {
    background-color: #3bc03b;
    text-align: center;
    border-radius: 30px;
    color: white;
    padding: 15px;
}

.services {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.image-services {

    width: 20%;
    display: inline-flex;
    flex-direction: row;
}

.services .image-services img {
    width: 100%;
}

.services-icons {
    display: inline-flex;
    width: 80%;
    align-items: center;
    justify-items: baseline;

}

.services .services-icons p {

    margin-right: 50px;

}

.section-company {
    padding-top: 20px;
    /* border: 1px solid blue; */
    text-align: center;
    width: 100%;
}

.section-company .title-company {
    margin-top: -3%;
}

.section-company .title-company p {
    font-size: x-large;
    font-weight: bold;
}

.operations {

    padding-top: 50px;
    display: flex;
    /* border: 1px solid red; */
    text-align: center;
    width: 50%;
    font-size: x-small;
    margin-left: 25%;

}

.p-operation {
    font-weight: bold;
    margin: 2px;
    padding: 2px;
}

.operations .p-operation-subtitle {
    margin: 5px;
    padding: 2px;
}

.operations .left {
    /* border: 1px solid green; */
    width: 34%;
}

.operations .middle {
    /* border: 1px solid yellow; */
    width: 34%;
}

.img-operation {
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 20px;

}

.operations .right {
    /* border: 1px solid purple; */
    width: 34%;
}

.section-cards {
    width: 60%;
    margin-left: 20%;
    margin-top: 60px;
    justify-content: space-evenly;
    align-items: center;
}

.card-top {
    /* border: 1px solid blue; */
    display: inline-flex;
    width: 100%;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;

}

.card-middle {
    /* border: 1px solid green; */
    display: inline-flex;
    width: 100%;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.card-bottom {
    /* border: 1px solid red; */
    display: inline-flex;
    width: 100%;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.p-cards {
    display: inline-flex;
    font-weight: bold;
    font-size: smaller;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin-top: 1px;
    margin-bottom: 1px;
}

.btn-cards {
    display: inline-flex;
    background-color: transparent;
    border-radius: 20px;
    font-size: x-small;
    border: solid 0.1px;
    border-color: #d4d2d2;
    justify-content: space-evenly;

}

.cards-advantages {


    text-align: center;
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;

}

.btn-advantages {
    margin-top: 15px;
    display: inline-flex;
    background-color: transparent;
    border-radius: 20px;
    font-size: x-small;
    border: solid 0.1px;
    border-color: #d4d2d2;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold
}

.img-advantages {
    width: 25%;
    padding-right: 3px;
}

.get-card {
    width: 100%;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.get-card p {
    color: #b3b2b2;
    font-size: small
}

.btn-get-card {

    border: none;
    background-color: #3bc03b;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px;
    margin: 20px;
}

.section-rashko-baba {
    width: 100%;
}

.rashko-title {
    padding-top: 30px;
    text-align: center;
    font-size: larger;
}

.rashko-subtitle {
    text-align: center;
    font-size: small;
}

.rashko-discription {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-size: x-small;
}

.rashko-body {
    display: inline-flex;
    /* border: solid 1pt black; */
    width: 100%;
    width: 70%;
    margin-left: 15%;
}

.rashko-left {
    /* border: solid 1pt red; */
    width: 34%;
    text-align: center;
    font-size: x-small;

}

.rashko-body .rashko-left img {
    padding-top: 25px;
}

.rashko-body .rashko-right img {
    padding-top: 25px;
}

.rashko-middle {
    text-align: center;
    width: 34%;
    /* border: solid 1pt green; */
}

.rashko-middle img {
    padding-top: 40px;
    width: 100%;
    border-radius: 200px;
}

.rashko-middle p {
    background-color: #3bc03b;
    border-radius: 30px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

.rashko-right {
    /* border: solid 1pt blue; */
    width: 34%;
    text-align: center;
    font-size: x-small;
}